<section class="advantages section">
  <div class="container section-item__advantages">
    <h2 class="section-title visually-hidden">Наші переваги</h2>
    <ul class="section-page__advantages list">
      <li class="section-list__advantages">
        <div class="section-link__advantages">
          <img class="team__img" src="./images/cow.png" alt="Корова" />
        </div>
        <b class="number-list__advantages">721</b>
        <p class="section-text__advantages">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="section-list__advantages">
        <div class="section-link__advantages">
          <img class="team__img" src="./images/weight.png" alt="Вага" />
        </div>
        <b class="number-list__advantages">16kg</b>
        <p class="section-text__advantages">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="section-list__advantages">
        <div class="section-link__advantages">
          <img class="team__img" src="./images/ice-crema.png" alt="Морозиво" />
        </div>
        <b class="number-list__advantages">84</b>
        <p class="section-text__advantages">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
