<section id="contacts" class="contacts ">
   <div class="container">
      <h2 class="visually-hidden">Contacts</h2>
     <div class="cards">
      <div class="contacts-list">
         <p class="contacts__title">CAFE</p>

         <p class="contacts__city">Chicago</p>

          <address class="contacts__address">
             <a class="contacts__link link" href="https://goo.gl/maps/nijKMqaR2FNgPPHbA" target="_blank">10340 Ridgeland Ave, Chicago</br> Ridge, IL 60415, USA</a>
          </address>

          <ul class="contacts-page list">
              <li>
                 <p class="contacts-page__day">Monday - Friday</p>
                 <time class="contacts-page__time" datetime="06:00 AM">06:00 AM</time> - <time class="contacts-page__time" datetime="10:00 PM">10:00 PM</time>
    
              </li>

              <li>
                  <p class="contacts-page__weekend">Saturday - Sunday</p>
                  <time class="contacts-page__time" datetime="08:00 AM">08:00 AM</time> - <time class="contacts-page__time" datetime="16:00 PM">16:00 PM</time>
    
              </li>
          </ul>


          <ul class="contact-social list">
             <li> <a class="contact-social__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a> 
             </li>
    
             <li> <a class="contact-social__tel link" href="tel:+610383766284 "> +61(0) 383 766 284 </a> </li>
          </ul>
      </div>

      <div class="contacts-list">   
        
           <p class="contacts__name">FOOD TRUCK</p>

           <p class="contacts__city">Los Angeles</p>

           <address class="contacts__address">
                <a class="contacts__link link" href="https://goo.gl/maps/ZpzvpjgbRSkDBHZi6" target="_blank">1003 Manhattan Ave, Manhattan</br> Beach, CA 90263, USA</a>
           </address>

          <ul class="contacts-page list">
              <li>
                  <p class="contacts-page__day">Monday - Friday</p>
                  <time class="contacts-page__time" datetime="06:00 AM">06:00 AM</time> - <time class="contacts-page__time" datetime="10:00 PM">10:00 PM</time>
              </li>

               <li>
                   <p class="contacts-page__weekend">Saturday - Sunday</p>
                   <time class="contacts-page__time" datetime="08:00 AM">08:00 AM</time> - <time class="contacts-page__time" datetime="16:00 PM">16:00 PM</time>
               </li>
          </ul>


           <ul class="contact-social list">
                 <li> <a class="contact-social__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                 </li>

                 <li> <a class="contact-social__tel link" href="tel:+610383766284 "> +61(0) 383 766 284 </a> </li>
            </ul>
      </div>

      <div class="contacts-list">    
            <p class="contacts__title">CAFE</p>

            <p class="contacts__city">New York</p>

            <address class="contacts__address">
                  <a class="contacts__link link" href="https://goo.gl/maps/wJuNQHLdD7edwWGT8" target="_blank">726 Sterling Pl, Brooklyn, NY<br> 11222, USA</a>
            </address>

            <ul class="contacts-page list">
                <li>
                    <p class="contacts-page__day">Monday - Friday</p>
                    <time class="contacts-page__time" datetime="06:00 AM">06:00 AM</time> - <time class="contacts-page__time"  datetime="10:00 PM">10:00 PM</time>
                </li>

                <li>
                    <p class="contacts-page__weekend">Saturday - Sunday</p>
                    <time class="contacts-page__time" datetime="08:00 AM">08:00 AM</time> - <time class="contacts-page__time"  datetime="16:00 PM">16:00 PM</time>
                </li>
            </ul>


            <ul class="contact-social list">
                 <li> <a class="contact-social__mail link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                 </li>

                 <li> <a class="contact-social__tel link" href="tel:+610383766284"> +61(0) 383 766 284 </a> </li>
           </ul>
         </div>
      </div>
<div class="contact__buttons-position">   
    <button type="button" class="contact__button main-button-filled">Our Locations ></button>
    <button type="button" class="contact__button main-button-empty" modal-franchise-open>Franchise</button>
</div>



</section>