<header class="page-header container">
  <a class="logo" href="./index.html">
    <img src="./images/Logo.png" alt="company logo" />
  </a>
  <button type="button" class="mobile-menu-btn" data-menu-open>
    <svg class="mobile-menu-btn__icon">
      <use href="./images/sprite.svg#icon-burger"></use>
    </svg>
  </button>
  <nav class="page-header__navigation">
    <ul class="page-header__navigation-list list">
      <li class="page-header__navigation-list-item">
        <a class="page-header__navigation-list-link link" href="./index.html"
          >Home</a
        >
      </li>
      <li class="page-header__navigation-list-item">
        <a class="page-header__navigation-list-link link" href="#about"
          >How it's made?</a
        >
      </li>
      <li class="page-header__navigation-list-item">
        <a class="page-header__navigation-list-link link" href="#products"
          >Our products</a
        >
      </li>
      <li class="page-header__navigation-list-item">
        <a class="page-header__navigation-list-link link" href="#contacts"
          >Contacts</a
        >
      </li>
    </ul>
  </nav>
  <button class="main-button-filled" type="button">Buy now ></button>
</header>
