<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <h1 class="hero__title">ice cream
                made with
                <span class="title-36px">passion</span>
            </h1>
            <div class="hero__points-of-sale">
                <p class="hero__points-of-sale-amount">16</p>
                <p class="hero__points-of-sale-type">cafes</p>
            </div>
            <div class="hero__points-of-sale">
                <p class="hero__points-of-sale-amount">23</p>
                <p class="hero__points-of-sale-type">food trucks</p>
            </div>
        </div>

        <div class="hero__anchors">
            <a href="#products" class="hero__products">Products</a>
            <a href="#how-its-made" class="hero__made">How it’s made?</a>
        </div>


        <div class="hero__plate-container">
            <div class="hero__plate-img"></div>
            <div class="hero__plate-descr">
                <p class="hero__plate-descr-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et</p>
                <img src="./images/arrow.svg" alt="arrow" class="hero__plate-descr-arrow">
            </div>
        </div>
        <div class="hero__dots-img"></div>
        <div class="hero__ice-cream-img"></div>
    </div>

</section>