<div class="backdrop is-hidden" about-modal>
    <div class="about-modal">
        <button class="about-modal__btn" type="button" about-modal-close>
            <svg class="about-modal__icon">
                 <use href="./images/sprite.svg#cross"></use>
            </svg>
        </button>
      

        <p class="mdl-title">How it’s made?</p>
        <iframe src="https://www.youtube.com/embed/XKJBRAH2c2g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="about-modal__video"></iframe>
        <p class="about-modal__text">Пастеризуємо. Перемішуємо з вершками і згущеним молоком. Варимо 40 хв і в гомогенизатор. Заморожуємо і упаковуємо. І ось воно вже у вас!</p>
    </div>
</div>