.products__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 280px;
    max-height: 459px;
    background-color: #ffffff;
    padding: 28px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    text-align: center;
}
.products__modal__btnn {
    position: absolute;
    top: 4px;
    right: 0px;
    background-color: transparent;
    border: none;
}
.products__modal-icon {
    width: 16px;
    height: 16px;
}