.about-modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
max-width: 280px;
max-height: 459px;
background-color: #ffffff;
padding: 28px;
border: 2px solid var(--accent-color);
border-radius: 10px;
text-align: center;}

.about-modal__btn {
position: absolute;
top: 4px;
right: 0px;
background-color: transparent;
border: none;
}
.about-modal__icon {
    width: 16px;
    height: 16px;
}
.about-modal__video {
    width: 224px;
    height: 199px;
    border-radius: 10px;
    margin: 20px 0;
}
.about-modal__text {
    font-size: 12px;
    color: var(--mdl-btn-color_hover);
}

@media screen and (min-width: 768px) {
    .about-modal {
        max-width: 568px;
        max-height: 449px;
        padding: 32px 60px;
    }
    .about-modal__btn {
        top: 20px;
        right: 20px;
    }
    .about-modal__icon {
        width: 20px;
        height: 20px;
    }
    .about-modal__video {
        width: 445px;
        height: 205px;
        border-radius: 10px;
        margin: 32px 0;
    }
    .about-modal__text {
        font-size: 14px;
    }
}

