        // .footer_bg {
        //   // background-color: var(--base-bg-color);
        //   width: 100%;
        // }

        .footer_box {
          margin-bottom: 40px;
          padding-top: 39px;
        }

        .footer_name-first {
          font-family: var(--primary-font);
          font-weight: 700;
          font-size: 18px;
          line-height: 1.22;
          text-transform: uppercase;
          color: var(--text-color_light);
          width: 232px;
        }

        .footer_name-second {
          font-family: var(--primary-font);
          font-weight: 700;
          font-size: 34px;
          line-height: 1.2;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: var(--text-color_light);
          width: 200px;
          margin-top: 16px;
        }

        .footer_contact-box{
          margin-top: 42px;
        }

        .footer_social-list {
          display: flex;
          align-items: center;
          column-gap: 27px;
          margin-bottom: 38px;
          width: 152px;
          margin-left: auto;
        }

        .footer_social-list-item {
           border: none;
        }

        .footer_social-link {
          display: flex;
          justify-content: center;
          align-items: center;
          fill: var(--base-bg-color);
          border-radius: 50%;
          width: 34px;
          height: 34px;
          background-color: var(--accent-color);
          transform: scale(1);

          &:focus{
            fill:var(--text-color_light);
            transition: fill var(--transition-prop);
            transform: scale(1.12);
            outline: none;
          }

          &:hover {
            fill:var(--text-color_light);
            transition: fill var(--transition-prop);
            transform: scale(0.94);
            outline: none;
          }
        }

        .footer_icon-box { 
          width: 20px;
          height: 20px;
        }

        .footer_contacts {
          font-family: var(--primary-font);
          font-weight: 700;
          font-size: 12px;
          line-height: 186%;
          text-align: right;
          color: #131313;
        }

        .footer_phone-color {
            color: var(--text-color_light);
            border: transparent;

          &:focus {
            outline: 1px solid var(--accent-color);
            transition: outline var(--transition-prop);
          }
        }

        .footer_circulation {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: var(--primary-font);
          font-weight: 700;
          font-size: 14px;
          line-height: 152%;
          text-align: center;
          color: #7A7A7A;  
          padding-top: 16px;
          padding-bottom: 62px;
          width: 250px;
          margin: 0 auto;
        }

        .footer_circulation-box {
        width: 100%;
        border-top: 1px solid #E1E1E1;
        }
  
  @media screen and (min-width: 768px) {
    
         .footer_box {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 32px;
          padding-top: 40px;
        }
    
        .footer_name-first {
          font-size: 26px;
          line-height: 1.23;
          letter-spacing: 0.04em;
          width: 352px;
        }

        .footer_name-second {
          font-size: 48px;
          line-height: 1.23;
          letter-spacing: 0.06em;
          width: 340px;
          margin-top: 9px;
        }

        .footer_contact-box{
          margin-top: 0;
        }
       
        .footer_social-list {
          column-gap: 30px;
          margin-bottom: 32px;
          width: 100%;
        }

        .footer_social-list {
          width: 162px;
        }

        .footer_contacts {
          font-size: 14px;
          padding-bottom: 24px;
        }

        .footer_circulation {
          line-height: 186%;
          letter-spacing: 0.02em;
          padding-top: 14px;
          padding-bottom: 13px;
          width: 298px;
        }
  }
  
  @media screen and (min-width: 1200px) {
        .footer_box {
          margin-bottom: 54px;
          padding-top: 120px;
        }
    
        .footer_name-first {
          font-weight: 400;
          font-size: 30px;
          width: 100%;
        }
        .footer_name-second {
          font-size: 58px;
          width: 100%;
          margin-top: 14px;
        }

        .footer_social-list {
          margin-bottom: 40px;
        }

        .footer_contacts {
          font-size: 16px;
          letter-spacing: 0.02em;
          padding-bottom: 6px;
        }

        .footer_circulation {
          margin: 0 auto;
          font-size: 12px;
          padding-top: 12px;
          padding-bottom: 11px;
          width: 255px;
        }

        .footer_circulation-box {
          width: 1167px;
          border-top: 1px solid #E1E1E1;
        }
  }