// .gallery {
//   margin-bottom: 80px;
// }

// .gallery__container {
  
//   // background-color: #fff;
// }
// .gallery {
//   margin-top: -93px;
// }
.slider-gallery {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 128px;
  text-align: center;
}
.slider-gallery__img {
  width: 279px;
  // width: 100%;
  text-align: center;
  height: 130.03px;
  margin-top: -93px;
  border-radius: 7.40681px;
}

@media screen and (min-width: 768px) {
  .slider-gallery__img {
    display: flex;
    justify-content: center;
    width: 704px;
    height: 327px;
    border-radius: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .slider-gallery__img {
    width: 1013px;
    height: 422px;
    border-radius: 18px;
    border-radius: 24px;
  }
}
