.page-header {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__navigation {
    display: none;
}

.logo {
    display: inline-block;
}
.logo__image {
    width: 40.47px;
    height: 37px;
}

.mobile-menu-btn {
    line-height: 0;
    background-color: transparent;
    border: none;
    padding: 0;
}
.mobile-menu-btn__icon {
    height: 32px;
    width: 32px;
}
.buy-now-button {
    display: none;
}
.buy-now-button-arrow {
    width: 12px;
    height: 15px;
    margin-left: 7px;
    fill: currentColor;
}

@media screen and (max-width: 480px) {

}

@media screen and (min-width: 768px) {
    .page-header {
        justify-content: flex-start;
        padding-top: 20px;
    }
    .logo {
        margin-right: 440px;
    }
    .logo__image {
        width: 48px;
        height: 44px;
    }
    .mobile-menu-btn {
        margin-right: 32px;
    }
    .buy-now-button {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .mobile-menu-btn {
        display: none;
    }
    .logo {
        margin-right: 269px;
    }
    .logo__image {
        width: 60px;
        height: 65px;
    }
    .page-header {
        padding-top: 8px;
    }
    .page-header__navigation {
        display: flex;
        margin-right: 247px;
    }
    .page-header__navigation-list {
        display: flex;
        gap: 27px;
    }

    .page-header__navigation-list-link {
        color: var(--text-color_light);
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

}


// MOBILE MENU
@media screen and (max-width: 767px) {
    .buy-now-button-mobile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    }
}

@media screen and (max-width: 1199px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        width: 0;
        height: 100%;
        z-index: 5;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        transition: 1s;
        // mobile-menu.js currently off //
        // visibility: hidden;
        // opacity: 0;
        // pointer-events: none;
        // transition: visibility (var(--transition-prop)), opacity (var(--transition-prop));
        background-color: var(--base-bg-color);
    }

    .mobile-menu__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 12px;
    }

    .mobile-menu__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 76px;
    }
    // .mobile-menu-is-open {
    //     visibility: visible;
    //     opacity: 1;
    //     pointer-events: auto;
    // }

    .mobile-menu__navigation-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        margin-bottom: 111px;
    }

    .mobile-menu__navigation-list-link {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.21875;
        color: var(--text-color_light);
        text-decoration: none;

        &:hover,
        &:focus {
            color: var(--text-color_dark);
        }
    }
    
    .mobile-menu__btn-close {
        padding: 0;
        line-height: 0;
        border: none;
        background-color: transparent;
    }

    .mobile-menu__icon-close {
        height: 32px;
        width: 32px;
        fill: var(--text-color_light);
        // &:hover,
        // &:focus {
        //     fill: var(--accent-color);
        // }
    }

}

@media screen and (min-width: 768px) and (max-width:1199px) {
    .buy-now-button-mobile {
            display: none;
    }
    .mobile-menu__container {
        padding-top: 20px;
    }
    .mobile-menu__navigation-list {
        gap: 40px;
    }
    

}

@media screen and (min-width:1200px) {
    .mobile-menu {
        display: none;
    }
}