.hero {
    min-width: 320px;
    max-height: 442px;
    width: 100%;
    background: var(--base-bg-color);
}

.hero-sec-mod {
    height: 442px;
}

.hero__title {
    text-align: left;
    max-width: 340px;
    padding-top: 50px;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color_light);
}


.title-36px {
    font-size: 34px;
    letter-spacing: 0;

}

.hero__points-of-sale {
    display: none;
}

.hero__anchors {
    display: flex;
    margin-top: 32px;

}

.hero__wrapper {
    display: flex;
    position: relative;
    justify-content: space-between
}

.hero__points-of-sale_wrapper {
    padding-top: 50px;
    padding-bottom: 15px;
    // display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero__plate-container {
    display: none;
}

.hero__products {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-line: none;
    color: var(--text-color_dark);
    width: 62px;
    height: 24px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    transition: color var(--transition-prop);


    &:hover {
        border: 2px solid var(--mdl-btn-color_hover);
    }

    &:disabled {
        border: 2px solid var(--mdl-btn-color_disabled);
    }

    &:focus {
        border: 2px solid var(--mdl-btn-color_hover);
        color: var(--text-color_light);
    }
}

.hero__made {
    margin-left: 8px;
    width: 83px;
    height: 24px;
    border: 0;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: var(--accent-color);
    transition: color var(--transition-prop);

    &:hover {
        color: var(--mdl-btn-color_hover);
    }

    &:disabled {
        color: var(--mdl-btn-color_disabled);
    }

    &:focus {
        color: var(--text-color_light);
    }
}

.hero__wrapper-img {
    position: relative;
    margin-top: 15px;
}

// .hero__ice-cream-blur use path {
//     width: 167px;
//     height: 218px;
//     fill: #fff;
// }


.hero__ice-cream-blur {
    position: relative;
    fill: rgb(255, 255, 255);
    opacity: 44%;
    background-repeat: no-repeat;
    background-image: url(/src/images/blur-ice-cream.svg);
    width: 167.54px;
    height: 218.27px;
    left: 66px;
    filter: blur(26.8405px);
    bottom: 0;
}

.hero__dots-img {
    bottom: 0;
    position: absolute;
    margin-left: -26px;
    width: 333px;
    height: 50px;
    // background-image: url(/src/images/img-mobile/mobil-dots-bgr.png);
    // background-image: image-set ("/src/images/img-mobile/mobil-dots-bgr.png" 1x, "/src/images/img-mobile/mobil-dots-bgr@2x.png" 2x);
    // background-image: -webkit-image-set (url("/src/images/img-mobile/mobil-dots-bgr.png") 1x, url("/src/images/img-mobile/mobil-dots-bgr@2x.png") 2x);

    // @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    // screen and (min-resolution: 192dpi) and (max-width: 767px),
    // screen and (min-resolution: 2dppx) and (max-width: 767px) {
    //     background-image: url(/src/images/img-mobile/mobil-dots-bgr@2x.png);
    // }

    // background-position: left bottom;
    margin-left: -20px;
    background-repeat: no-repeat;
    left: -7px;
    bottom: 0;
}

// @media screen and (min-device-pixel-ratio: 2),
// screen and (min-resolution: 192dpi),
// screen and (min-resolution: 2dppx) {
//     .hero__dots-img {
//         background-image: url("../images/img-mobile/mobil-dots-bgr@2x.png");
//     }
// }





.hero__ice-cream-img {
    position: absolute;
    // background-image: url(/src/images/img-mobile/mobil-ice-cream.png);
    // background-image: image-set ("/src/images/img-mobile/mobil-ice-cream.png" 1x, "/src/images/img-mobile/mobil-ice-cream@2x.png" 2x);
    // background-image: -webkit-image-set (url("/src/images/img-mobile/mobil-ice-cream.png") 1x, url("/src/images/img-mobile/mobil-ice-cream@2x.png") 2x);

    width: 157px;
    height: 207.45px;
    background-repeat: no-repeat;
    left: 62px;
    bottom: 0;
}

.hero__points-of-sale-amount {
    display: none;
}

.hero__points-of-sale-type {
    display: none;
}

@media screen and (min-width: 480px) {
    .hero {
        max-height: 454px;
        width: 100%;
        background: var(--base-bg-color);
    }
}

@media screen and (min-width: 768px) {


    .hero {
        height: 343px;
    }

    .hero-sec-mod {
        height: 343px;
    }

    .hero__wrapper {
        justify-content: space-between;
        display: flex;
        position: relative;
    }



    .hero__title {
        max-width: 182px;
        padding-top: 39px;
        font-family: var(--title-font);
        font-weight: 400;
        font-size: 18.25px;
        line-height: 23px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--text-color_light);
    }

    .title-36px {
        font-size: 24px;
        letter-spacing: 0;

    }


    .hero__points-of-sale_wrapper {
        padding-top: 50px;
        padding-bottom: 0;
        // display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


    .hero__points-of-sale {
        display: block;
    }

    .hero__points-of-sale-amount {
        display: block;
        font-family: var(--primary-font);
        font-weight: 900;
        font-size: 28px;
        line-height: 34px;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--text-color_dark);
    }

    .hero__points-of-sale-type {
        display: block;
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 8px;
        margin-bottom: 16px;
        line-height: 10px;
        text-align: right;
        margin-top: 3px;
        color: var(--text-color_light);
    }

    .hero__anchors {
        margin-top: 20px;

    }

    .hero__wrapper-img {
        margin-top: 0;
        position: absolute;
        margin-left: -12px;
    }


    .hero__ice-cream-blur {
        position: absolute;
        // fill: rgba(252, 252, 252, 0.44);
        fill: rgb(255, 255, 255);
        opacity: 44%;
        background-repeat: no-repeat;
        background-image: url(/src/images/blur-ice-cream.svg);
        // background-repeat: no-repeat;
        width: 305px;
        height: 341.85px;
        left: 392px;
        bottom: 0;
        // left: 2.46px;
        // top: 0px;
        // background: rgba(252, 252, 252, 0.44);
        filter: blur(26.8405px);
    }




    .hero__dots-img {
        bottom: 0;
        position: absolute;
        margin-left: -20px;
        width: 768px;
        height: 68px;
        // background-image: url(/src/images/img-tablet/tablet-dots-bgr.png);
        // background-image: image-set ("/src/images/img-tablet/tablet-dots-bgr.png" 1x, "/src/images/img-tablet/tablet-dots-bgr@2x.png" 2x);
        // background-image: -webkit-image-set (url("/src/images/img-tablet/tablet-dots-bgr.png") 1x, url("/src/images/img-tablet/tablet-dots-bgr@2x.png") 2x);
        background-position: left bottom;
        background-repeat: no-repeat;
    }



    .hero__ice-cream-img {
        position: absolute;
        left: 389px;
        // top: -380px;
        bottom: 0;
        // background-image: url(/src/images/img-tablet/tablet-ice-cream.png);
        // background-image: image-set ("/src/images/img-tablet/tablet-ice-cream.png" 1x, "/src/images/img-tablet/tablet-ice-cream@2x.png" 2x);
        // background-image: -webkit-image-set (url("/src/images/img-tablet/tablet-ice-cream.png") 1x, url("/src/images/img-tablet/tablet-ice-cream@2x.png") 2x);

        height: 325px;
        width: 257px;
        margin-left: auto;
        background-repeat: no-repeat;
    }



    .hero__plate-container {
        position: relative;
        // margin-top: 15px;
        display: flex;
        align-items: center;
        // margin-bottom: 14px;
        height: 167px;
    }

    .hero__plate-descr {
        width: 151px;
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: var(--text-color_light);
    }

    .hero__plate-descr-arrow {
        width: 40px;
        margin: 13px 0 0 0;
    }

    .hero__plate-img {
        z-index: 1;
        height: 152px;
        width: 152px;
        margin-right: 33px;
        display: block;
        position: relative;
        // background-image: url(/src/images/img-tablet/tablet-plate.png);
        // background-image: image-set ("/src/images/img-tablet/tablet-plate.png" 1x, "/src/images/img-tablet/tablet-plate@2x.png" 2x);
        // background-image: -webkit-image-set (url("/src/images/img-tablet/tablet-plate.png") 1x, url("/src/images/img-tablet/tablet-plate@2x.png") 2x);

        background-repeat: no-repeat;
    }

    .hero__plate-descr-arrow {
        margin-top: 13px;
        width: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .hero__wrapper {
        justify-content: space-between;
        display: flex;
        position: relative;
        z-index: 1;
    }

    .hero__wrapper-img {
        position: absolute;
        top: 70px;
    }

    .hero {
        min-height: 587px;
    }

    .hero-sec-mod {
        height: 587px;
        // position: absolute;
    }

    .hero__title {
        max-width: 367px;
        letter-spacing: .04em;
        text-transform: uppercase;
        color: var(--text-color_light);
        padding-top: 39px;
        font-family: Seymour One;
        font-size: 38px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0.04em;
    }

    .title-36px {
        font-size: 38px;
        letter-spacing: 0.04em;

    }

    .hero__anchors {
        display: flex;
        align-items: center;
        margin-top: 32px;

    }


    .hero__products {
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 14px;
        line-height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        color: var(--text-color_dark);
        width: 134px;
        height: 42px;
        border: 2px solid var(--accent-color);
        border-radius: 8px;
    }


    .hero__made {
        margin-left: 34px;
        width: 111px;
        height: 24px;
        border: 0;
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration-line: underline;
        color: var(--accent-color);
    }


    .hero__plate-container {
        position: relative;
        margin-top: 70px;
        display: flex;
        align-items: center;
        margin-bottom: 64px;
        bottom: 0;
        z-index: 9;

    }


    .hero__plate-descr {
        padding-top: 50px;
        width: 200px;
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: var(--text-color_light);
    }


    .hero__plate-descr-arrow {
        margin: 13 0 0 0;
    }

    .hero__plate-img {
        z-index: 1;
        height: 225px;
        width: 225px;
        margin-right: 14px;
        display: block;
        position: relative;
        // background-image: url(/src/images/img-desktop/desktop-plate.png);
        // background-image: image-set ("/src/images/img-desktop/desktop-plate.png" 1x, "/src/images/img-desktop/desktop-plate@2x.png" 2x);
        // background-image: -webkit-image-set (url("/src/images/img-desktop/desktop-plate.png") 1x, url("/src/images/img-desktop/desktop-plate@2x.png") 2x);

        background-repeat: no-repeat;
    }


    .hero__ice-cream-blur {
        position: relative;
        // fill: rgba(252, 252, 252, 0.44);
        fill: rgb(255, 255, 255);
        opacity: 44%;
        background-repeat: no-repeat;
        background-image: url(/src/images/blur-ice-cream.svg);
        // background-repeat: no-repeat;
        width: 477px;
        height: 589.64px;
        // top: 31px;
        left: 634px;
        // left: 2.46px;
        // top: 0px;
        // background: rgba(252, 252, 252, 0.44);
        filter: blur(26.8405px);
    }



    .hero__dots-img {
        bottom: 0;
        position: absolute;
        margin-left: 0;
        height: 385px;
        width: 1200px;
        // background-image: url(/src/images/img-desktop/desctop-dots-bgr.png);
        // background-image: image-set ("/src/images/img-desktop/desctop-dots-bgr.png" 1x, "/src/images/img-desktop/desctop-dots-bgr@2x.png" 2x);
        // background-image: -webkit-image-set (url("/src/images/img-desktop/desctop-dots-bgr.png") 1x, url("/src/images/img-desktop/desctop-dots-bgr@2x.png") 2x);
        background-position: left bottom;
        background-repeat: no-repeat;
        bottom: 0;
        // left: 622px;
    }



    .hero__ice-cream-img {
        position: absolute;
        left: 627px;
        bottom: 0;
        // background-image: url(/src/images/img-desktop/desctop-ice-cream.png);
        // background-image: image-set ("/src/images/img-desktop/desctop-ice-cream.png" 1x, "/src/images/img-desktop/desctop-ice-cream@2x.png" 2x);
        // background-image: -webkit-image-set (url("/src/images/img-desktop/desctop-ice-cream.png") 1x, url("/src/images/img-desktop/desctop-ice-cream@2x.png") 2x);

        height: 561px;
        width: 456px;
        margin-left: auto;
        background-repeat: no-repeat;
    }


    .hero__points-of-sale-amount {
        font-family: var(--primary-font);
        font-weight: 900;
        font-size: 46px;
        line-height: 56px;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--text-color_dark);
    }

    .hero__points-of-sale-type {
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: var(--text-color_light);
    }

}