@mixin mobile {
    @media screen and (min-width:480px) {
        @content;
    }
}


@mixin table {
    @media screen and (min-width:768px) {
        @content;
    }
}


@mixin disktop {
    @media screen and (min-width:1200px) {
        @content;
    }
}


@mixin retina {

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }

}
.products{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(/src/images/products/icebackground-tell.png);
    
    @include retina {
            background-image: url(/src/images/products/icebackground-tell-2x.png);
        }
                @include table {
                    background-image: url(/src/images/products/icebackground-tab.jpg);
                    @include retina{
                        background-image: url(/src/images/products/icebackground-tab-2x.jpg)
                    }
}
 @include disktop{
    background-image: url(/src/images/products/icebackground-desk.jpg);
    @include retina {
        background-image: url(/src/images/products/icebackground-desk-2x.jpg)
 }
}
}

.products__cards{
    display: block;
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    
        @include table {
            display: flex;
            gap: 16px;
        }
                 @include disktop {
                     display: flex;
                     gap: 33px;
                 }
}
.products__title{
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
    justify-content: center;
    align-items: center;
}
.products__pre-title{
font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 1.26;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #131313;
justify-content: center;
align-items: center;
margin-top: 12px;
}

.products__foto{
justify-content: center;
align-items: center;
text-align: center;
display: flex;
margin: 0 auto;
@include disktop {
    width: 302px;
    height: 318px;
}
}
.products__list{
    margin-bottom: 50px;
    border-radius: 24px;
    display: block;
    width: 280px;
    min-height: 528px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    @include table {
            width: 224px;
            min-height: 482px;
            margin: 0 auto;
        }     
                 @include disktop {
                     width: 370px;
                     max-height: 718px;
                    //  margin: 0 auto;
                 }
}

.products__information-title{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #131313;
}
.products__description{
    margin-top: 40px;
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    @include disktop {
            margin-top: 65px;
            font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 176%;
                text-align: center;
                letter-spacing: 0.04;
        }  
}

.products__information-icecream,
.products__information-icecoffee,
.products__information-milkshakes
{ border-radius: 24px;
        padding-left: 40px;
        padding-top: 123px;
        padding-right: 40px;
        text-align: center;
        line-height: 1.8;
        margin-top: -128px;
        @include table {
        padding-left: 26px;
        padding-right: 26px;
            }
        @include disktop {
            padding-left: 63px;
            padding-right: 63px;
}
}

.products__information-icecream{
background: #AEC6A5;
}
.products__information-icecoffee {
    background: #EFD478;
}
.products__information-milkshakes {
     background: #D6936D;
}

.products__button-ice-cream{
    margin-top: 90px;
    padding: 0;
    border: none;
    @include table {
            margin-top: 99.5px;
        }
    @include disktop {
    margin-top: 85px;
     margin-bottom: 60px;
                }
}
.products__button-coffee{
    margin-top: 55px;
        padding: 0;
        border: none;
        @include table {
                margin-top: 50px;
            }
        @include disktop {
         margin-top: 60px;
         margin-bottom: 60px;
                         }

}
.products__button-milkshakes{
    margin-top: 90px;
        padding: 0;
        border: none;
        @include table {
            margin-top: 75px;
            }
            @include disktop {
             margin-top: 60px;
             margin-bottom: 60px;
                         }
}

.products__ice-cream-modal-icon,
.products__coffee-modal-icon,
.products__milkshakes-modal-icon
{   transition: transform 250ms cubic-bezier;
    transform: scale(1);
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    border: none;
    outline: transparent;
        height: 15px;
        padding: 0 auto;
        margin: 0 auto;
        cursor: pointer;
        background-color:#AEC6A5;
}

.products__ice-cream-modal-icon:hover,
.products__coffee-modal-icon:hover,
.products__milkshakes-modal-icon:hover
{
transform: scale(1.2);
transition: transform 250ms cubic-bezier;
}
.products__ice-cream-modal-icon:focus,
.products__coffee-modal-icon:focus,
.products__milkshakes-modal-icon:focus {
transform: scale(1.5);
transition: transform 250ms cubic-bezier;
}


.products__coffee-modal-icon{
    background-color:#EFD478;
}
.products__milkshakes-modal-icon{
    background-color: #D6936D;
}