.reviews {
  width: 100%;
  background-image: url(/src/images/products/icebackground-tell.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(/src/images/products/icebackground-tell-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/src/images/products/icebackground-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(/src/images/products/icebackground-tab-2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(/src/images/products/icebackground-desk.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: url(/src/images/products/icebackground-desk-2x.jpg);
  }
}

.reviews {
  // padding-top: 186px;
  padding-top: 80px;
  padding-bottom: 394px;
}

.slider-reviews {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 280px;
}

.slider-reviews__img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 32px;
}

.slider-reviews__description {
  height: 256px;
  padding: 34px 39px;
  background-color: var(--base-bg-color);
  border-radius: 10px;
}

.slider-reviews__text {
  font-size: 12px;
  line-height: 2.6;
  text-align: center;
  color: var(--text-color_light);
}

.slider-reviews__name-client {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.9;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 14px;
  color: var(--text-color_dark);
}

// -----стилі dots---//
.slick-dots {
  transform: translateY(-40%);
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #84a178;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 12px;
  line-height: 1.7;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;

  -webkit-font-smoothing: antialiased;
}

.slick-prev:before,
.slick-next:before {
  content: '';
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
}

.slick-prev,
.slick-next {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .reviews {
    // padding-top: 223px;
    padding-top: 60px;
    padding-bottom: 383px;
  }
  .slider-reviews {
    width: 705px;
  }

  .slider-reviews__img {
    margin-bottom: 28px;
  }

  .slider-reviews__description {
    height: 138px;
    padding-top: 29px;
    padding-bottom: 28px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 24px;
  }

  .slider-reviews__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.9;
    letter-spacing: 0.04em;
  }

  .slider-reviews__name-client {
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews {
    padding-top: 128px;
    padding-bottom: 197px;
  }
  .slider-reviews {
    width: 968px;
  }

  .slider-reviews__img {
    margin-bottom: 32px;
  }

  .slider-reviews__description {
    padding-top: 39px;
    padding-bottom: 47px;
    padding-left: 109px;
    padding-right: 109px;
  }

  .slider-reviews__text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
  }
}
